version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:12.18.0
    steps:
      - checkout
      
      - run:
          name: install-npm-wee
          command: npm install
     
      - run:
          name: test
          command: npm test
      - store_artifacts:
          path: test-results.xml
          destination: test1